[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-wtf = "*"
email-validator = "*"
flask-bcrypt = "*"
flask-login = "*"
pillow = "*"
itsdangerous = "*"
flask-mail = "*"

[requires]
python_version = "3.8"
