<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>spa</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
</head>
<body>
	<header>
		<div class="navbar">
			<ul>
				<li class="nav-item">
					<a href="#home">Home</a>
				</li>
				<li class="nav-item">
					<a href="#about">About</a>
				</li>
				<li class="nav-item">
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</header>
	<main>
		<div id="app"></div>
	</main>	
</body>
</html>