{% extends "base.html" %}

{% block content %}

{% include "header.html" %}


<main role="main" class="container mt">
  <div class="row mt-2">
    <div class="col-md-8">
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{url_for('static',filename='image/default.jpg')}}">
        <div class="media-body">
          <h2><a class="article-title" href="#">post-title</a></h2>
          <p class="article-content">post-content</p>
          <div class="article-metadata">
            <a class="mr-2" href="#">author</a>
            <small class="text-muted">2021-12-13 23:00:15</small>
          </div>
        </div>
      </article>
    </div>
  </div>
</main>


{% endblock %}